<?xml version="1.0"?>
<!--
Copyright (c) 2013, Clearpath Robotics
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of Clearpath Robotics nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

This program is a launch file for spawning the Clearpath Grizzly
robot model in Gazebo
-->

<launch>
  <!-- Grizzly accessories which may be simulated. Pass true to enable -->
  <arg name="front_laser" default="true" />
  <arg name="gps" default="true" />

  <!-- Starting location of robot -->
  <arg name="x_0" default="0.0" />
  <arg name="y_0" default="0.0" />

  <!-- Send the Grizzly Robot URDF to param server -->
  <include file="$(find grizzly_description)/launch/description.launch">
    <arg name="accessories" value="true" />
    <arg name="front_laser" value="$(arg front_laser)" />
  </include>

  <!--
  <include file="$(find grizzly_gazebo)/launch/base_gazebo.launch">
    <arg name="description" value="$(arg description)" />
  </include>-->

  <!-- Launch basic control nodes -->
  <include file="$(find grizzly_motion)/launch/motion.launch">
    <arg name="simulate" value="true" />
  </include>
  <include file="$(find grizzly_control)/launch/localization.launch"/>

  <!-- Push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description
          -urdf
          -x $(arg x_0)
          -y $(arg y_0)
          -z 0.2
          -model grizzly"
    respawn="false" output="screen" />
</launch>
